.product {
    text-align: center;
    position: relative;

    &__img {
        img {
            width: 100%;
        }

    }

    &__salePercent {
        width: 50px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        font-weight: 700;
        border-radius: 50%;
        padding-top: 17px;
        background-color: #fe5454;
        position: absolute;
        top: 10px;
        right: 20px;
    }


    &__name {
        color: #222222;
        font-size: 14px;
        font-weight: 500;
        padding: 0 10px;
        margin: 3px 0 8px;
    }

    &__id {
        font-size: 12px;
        color: #666666;
    }

    &__price {
        font-size: 13px;
        margin-top: 7px;
        text-align: center;

        span {
            font-size: 17px;
        }

        .price__retail {
            span {
                font-size: 15px;
                text-decoration: line-through;
                color: #666666
            }
        }
    }
}