.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    position: relative;

    margin: auto;

    @media screen and (max-width: 1200px) {
        max-width: 970px;
    }

    @media screen and (max-width: 992px) {
        max-width: 750px;
    }

    @media screen and (max-width: 768px) {
        max-width: calc(100% - 30px);
    }
}